<div class="formulario-cadastro">

        
        
        <form>
            <div class="campos_prenchimento">
                <h2>Cadastrar</h2>
                <label>Id</label><input type="text" name="id" /><br />
                <label>Nome</label>
                <input type="text" name="nome" /><br />
                <label>Descrição</label>
                <input type="text" name="descricao" /><br />
                <label>Salário</label>
                <input type="text" name="salario" /><br />
            </div>
        <div class="buttons_form">
            <button type="button" >Cadastrar Vaga</button>
            <button type="button" >Atualizar Vaga</button>
            <button type="button" >Excluir Vaga</button>
        </div>
        </form>

</div>