.menu-vagas{
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    text-decoration: none;
    position: fixed;
    z-index: 3;
}